/* PUPPY WEBSITE STYLES */

body {
	background: #2185c5 ;
	margin: 0;
	word-spacing: 3px;
}

a {
	color: orange;
}

p {
	font-family: sans-serif;
}

h1, h2 {
	font-family: monospace;
}

.main-container {
	background: white;
	width: 65%;
	margin: 0 auto;
	height: 100%;
}

.header {
	text-align: center;
}

.header h1 {
	border-bottom: solid 3px #EE7600;
	margin: 0 auto;
	width: 60%;
	padding-top: 5%;
	font-weight: bold;
	text-transform: uppercase;
	word-spacing: 10px;
	letter-spacing: 10px;
}

.header img {
	padding-top: 35px;
}

.content {
	padding: 0 100px;
	line-height: 170%;
	text-align: justify;
}

.second-pup {
	width: 40%;
	float: left;
	padding-right: 20px;
}

.third-pup {
	width: 40%;
	padding-left: 20px;
	float: right;
}

.footer {
	border: solid 3px #EE7600;
	text-align: center;
	padding: 70px;
	margin: 30px auto 10% auto;
	width: 50%;
	text-transform: uppercase;
	font-weight: bold;
}


/* Media Queries */

/* Smart Phones and Tablet in Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	body {
  		margin: 10px 10px;
  		font-size: 3em;
  	}

  	h1, h2 {
  		word-spacing: 2px;
  	}
  	.main-container {
  		width: 100%;
  	}

  	.content {
  		padding: 20px;
  	}

  	.second-pup, .third-pup {
  		padding: 15px 0;
  		width: 100%;
  	}

  	.footer {
  		width: 80%;
  	}
}

/* Smart Phones and Tablet in Landscape */
@media only screen 
  and (max-device-width: 1024px)
  and (orientation: landscape) {
  	body {
  		font-size: 1.5em;
  	}
  	.main-container {
  		width: 85%;
  	}

  	.second-pup, .third-pup {
  		padding: 15px 0;
  		width: 100%;
  	}

  	.footer {
  		width: 70%;
  	}
  }