/* PUPPY WEBSITE STYLES */

body {
	background: #2185c5 ;
	margin: 0;
}

.main-container {
	background: white;
	width: 65%;
	margin: 0 auto;
	height: 100%;
}

a {
	color: orange;
}

.header {
	text-align: center;
}

.header h1 {
	border-bottom: solid 2px orange;
	margin: 0 auto;
	width: 60%;
	padding-top: 5%
}

.header img {
	padding-top: 50px;
}

.content {
	padding: 0 100px;
	line-height: 170%;
}

.second-pup {
	width: 40%;
	float: left;
	padding-right: 20px;
}

.third-pup {
	width: 40%;
	float: right;
}

.footer {
	border: solid 3px orange;
	text-align: center;
	padding: 70px;
	margin: 0 auto 10% auto;
	width: 50%;
	text-transform: uppercase;
	font-weight: bold;
}